* {
  margin: 0;
  padding: 0;
}
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.header {
  background-color: white;
  height: 203px;
  display: flex;
  font-size: 50px;
  justify-content: center;
  flex-direction: column;
}
.goods{
  width: 360px;
  height: 581px;
  margin: 0px;
  padding: 0px;
  text-align: left;
  justify-content: center;  
  flex-direction: column;
  background-color: #f8f8f8; 
}
.img {
  width: 360px;
  height: 420px;
}
.item {
  display: flex;
  justify-content: space-evenly;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin-top: 96px;
  color: #222222;
}
.item-txt {
  display: flex;
  justify-content: space-evenly;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  margin-bottom: 48px;
}
.footer {
  display: flex;
  justify-content: center;
}
.button {
  flex-wrap: wrap;
  justify-content: center;
  background: #e5e5e557;
  border: 1px solid #ff6a6a;
  width: 211px;
  height: 47px;
  margin-top: 48.5px;
  margin-bottom: 60.5px;
  color: #f16d7f;
}
.button:hover {
  border: 3px solid #ff6a6a;
}
.text {
  justify-content: left;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  width: 80%;
  font-size: 14px;
  line-height: 17px;
  padding-left: 18px;
  margin-top: 16px;
  color: #5d5d5d;
}
.nameProduct{
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding-left: 18px;
  margin-top: 25px;
}
.price {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-left: 18px;
  margin-top: 16px;
  color: #f16d7f;
}
